

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    font-family: "Indie Flower";

}

header{
    background: linear-gradient(rgba(0,0,0,0.9), rgba(86, 86, 86, 0.5), rgba(255, 255, 255, 0.1));
    text-align: center;
}


.main-content{
    padding: 20px;
    text-align: center;
}

.contenido{
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
}

/*Version oscura del contenido, usado en Sobrenosotros.html*/
.contenido-n{
    background-color: #171717;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
}

/*para centrar las minisecciones*/
.centrar-s{
    text-align: center;
}
.contenido2{
    background-color: #f0f0f0;
    padding: 20px;
    margin: 10px auto;
    border: 0.5px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    transition: transform 0.3s ease;
}
.contenido2:hover{
    transform: scale(1.05);
}

button{
    background-color: rgb(50, 50, 50);
    color: #ffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 3px rgb(49, 49, 49);
    font-family: "Indie Flower";

}

footer{
    background-color: rgb(0, 0, 0);
    color: #ffff;
    padding: 30px;
    text-align: center;
}
.foter{
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 7px;
    color: #ffffff;
}
.foter2{
    background-color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 7px;
    color: #ffffff;
    margin: 50px auto;
    width: 40%;
    text-align: center;
}
.relleno{
    background-color: #6a6a6a12;
    padding: 5px;
    border-radius: 4px;
}
h2{
    color: #ffff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 5%;
    padding-right: 5%;
}
ul,li{
    display: inline-block;
    padding: 0px 20px;
}
a{
    color: #ffffff;
    text-decoration: none;
}
.zoom-img{
    transition: transform 0.2s ease;
}
.zoom-img:hover{
    transform: scale(0.90);
}

.color-text{
    color: #000000;
}
.zoom-letra{
    
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.zoom-letra:hover{
    background-color: rgb(195, 195, 195);
    transform: scale(1.1);
}
.zoom-letra:active{
    transform: scale(0.97);
}
.zoom-boton {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.zoom-boton:hover {
    background-color: rgba(83, 83, 83, 0.7);
    transform: scale(1.1);
}

.zoom-boton:active {
    transform: scale(0.97);
}
input{
    background-color: #cdcdcd;
    border: none;
    border-radius: 4px;
}
.input-boton{
    margin-top: 10%;
    padding: 10px 10px;
    transition: backgroun-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
.input-boton:hover{
    background-color: #8e8e8e;
    transform: scale(1.1);
}
.input-boton:active{
    transform: scale(0.96);
}

.color-input{
    background-color: #dfdfdf;
    color: #000000;
    border-radius: 7px;
    padding: 5px;
}
.select-edit{
    border-radius: 4px;
    margin-right: 64%;
}
textarea{
    margin-right: 50%;
    border-radius: 4px;
}

.foter-n{
    background-color: rgb(45, 45, 45);
    padding: 15px;
    border-radius: 7px;
    color: #ffffff;
}

.blanco-p{
    color: #ffffff;
}
